body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f6f9;

}
.card{
    background-color: white;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}
.card h1{
    margin-bottom: 15px;
}
.card p{
    margin-bottom: 20px;
    color: #555;
}
.card button{
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}
.card button:hover{
    background-color: #0056b3;
    
}